{{#each trips}}
<div class="card trip-header-wrap">
  <div class="title-image">
    <img class="img-fluid" src="{{titleBkgrndImg}}" alt="">
  </div>
  <div class="col flex-container">
    <h2>{{title}}</h2>
    <h3>{{destination}}</h3>
  </div>
  <div class="col">
    <div class="_50">
      <h3>{{dates}}</h3>
    </div>
    <div class="_50 trip-friends text-center">
      <p>With...</p>
      <div>
        <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/beau_murrillo.jpg" class="" alt="Tripcited Beau Murrillo">
        <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/dana_comella.jpg" class="" alt="Tripcited Dana Comella">
        <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/josie.jpg" class="" alt="Tripcited Colombia_Gorgeous">
      </div>
    </div>
  </div>
</div> <!-- Close Trip Title Card -->
{{else}}
<div class="card trip-header flex-container">
  <h2>No Trips to show</h2>
</div>
{{/each}}
